.review-cart {
  width: 350px;

  background-color: #ffffff;

  padding: 20px;
  border-radius: 10px;
}
.review-img {
  display: flex;
  justify-content: center;
}
.review-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
