.review-cart {
  width: 350px;
  box-shadow: 1px 1px 10px 2px #ddd;
  background-color: #ffffff;

  padding: 20px;
  border-radius: 10px;
}

.review-img {
  display: flex;
  justify-content: center;
}
.review-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: plum;
  padding: 5px;
}
